:root {
  --color-bg: #ffffff;
  --main-text-color: #181818;

  --material-icons: rgba(0, 0, 0, 1);
  --material-icons-inactive: rgba(0, 0, 0, 0.26);
}

[data-theme="dark"] {
  --color-bg: #181818;
  --main-text-color: #ffffff;

  --material-icons: rgba(255, 255, 255, 1);
  --material-icons-inactive: rgba(255, 255, 255, 0.3);
}

::selection {
  background-color: rgba(127, 67, 255, 0.938);
}

body {
  background-color: var(--color-bg);
  margin: 0;
  font-family: -apple-system, 'Space Mono', 'Roboto', monospace, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  color: var(--main-text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}